@model NotesMarketPlace.Models.ChangePassword

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Change Password</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/FrontContent/images/home/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/bootstrap/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/style.css">

    <style>
        .form-error {
            color: red;
        }
    </style>

</head>

<body>


    <section id="change-password-page" class="bg">

        <div class="container">

            <div class="row justify-content-center" id="top-logo">

                <img src="images/pre-login/top-logo.png" alt="">

            </div>

            <div class="row justify-content-center">

                @using (Html.BeginForm("ChangePassword", "SignUp", FormMethod.Post, new { @class = "form-container", @id = "change-password-container" }))
                {
                    <div class="login-heading">

                        <h2>Change Password</h2>
                        <p>Enter your new password to change your password</p>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="label-text">Old Password</label>

                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "form-error" })
                        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control input-field", @id = "exampleInputPassword1", @placeholder = "Enter Old Password" })
                        <span toggle="#exampleInputPassword1" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="label-text">New Password</label>

                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "form-error" })
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control input-field", @id = "exampleInputPassword2", @placeholder = "Enter New Password" })
                        <span toggle="#exampleInputPassword2" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="label-text">Confirm Password</label>

                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "form-error" })
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control input-field", @id = "exampleInputPassword3", @placeholder = "Confirm Your New Password" })
                        <span toggle="#exampleInputPassword3" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                    </div>

                    <button type="submit" class="btn btn-block login-button" id="Change-password-submit">SUBMIT</button>
                }

            </div>

        </div>

    </section>




    <!-- JQuery -->
    <script src="~/Scripts/FrontJs/jquery.js"></script>

    <!-- Show Password JS -->
    <script src="~/Scripts/FrontJs/bootstrap/bootstrap-show-password.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/FrontJs/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/FrontJs/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>