@using PagedList;
@using PagedList.Mvc;

@model NotesMarketPlace.Models.MemberDetails

@{

    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/AdminNavbar.cshtml";
    <link rel="stylesheet" href="~/Content/AdminContent/css/MemberDetails.css" />
}

<!-- Member Details Container -->

<div class="container" id="member-details-container">

    <div class="row">

        <div class="col">
            <h2>Member Details</h2>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-xl-2 member-image">
            <img class="img-thumbnail" src="@Model.MemberProfile.ProfilePicture" alt="">
        </div>

        <div class="col-xl-5">

            <div class="row">

                <div class="col-md-5 left-list">
                    First Name:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.FirstName
                </div>
                <div class="col-md-5 left-list">
                    Last Name:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.LastName
                </div>
                <div class="col-md-5 left-list">
                    Email:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.Email
                </div>
                <div class="col-md-5 left-list">
                    DOB:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.DateOfBirth.Value.ToString("dd-MMMM-yyyy")
                </div>
                <div class="col-md-5 left-list">
                    Phone Number:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.PhoneNumber
                </div>
                <div class="col-md-5 left-list">
                    College/Univercity:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.University
                </div>

            </div>

        </div>

        <div class="col-xl-5">

            <div class="row">

                <div class="col-md-5 left-list">
                    Address 1:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.AddressLine1
                </div>
                <div class="col-md-5 left-list">
                    Address 2:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.AddressLine2
                </div>
                <div class="col-md-5 left-list">
                    City:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.City
                </div>
                <div class="col-md-5 left-list">
                    State:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.State
                </div>
                <div class="col-md-5 left-list">
                    Country:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.Country
                </div>
                <div class="col-md-5 left-list">
                    Zip Code:
                </div>
                <div class="col-md-7 right-list">
                    @Model.MemberProfile.ZipCode
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Member Details Container End -->
<!-- Notes Table -->

<div class="container" id="notes-container">

    <div class="row">

        <div class="col">
            <h3>Notes</h3>
        </div>

    </div>

    <div class="row">

        <div class="col table-responsive-md">

            <table class="table shadow-on-hover table-border">
                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">@Html.ActionLink("NOTE TITLE", "MemberDetails", new { sortby = ViewBag.SortTitle, uid = Request.QueryString["uid"] })</th>
                        <th scope="col">@Html.ActionLink("CATEGORY", "MemberDetails", new { sortby = ViewBag.SortCategory, uid = Request.QueryString["uid"] })</th>
                        <th scope="col">@Html.ActionLink("STATUS", "MemberDetails", new { sortby = ViewBag.SortStatus, uid = Request.QueryString["uid"] })</th>
                        <th scope="col">DOWNLOADED NOTES</th>
                        <th scope="col">TOTAL EARNINGS</th>
                        <th scope="col">@Html.ActionLink("DATE ADDED", "MemberDetails", new { sortby = ViewBag.SortDateAdded, uid = Request.QueryString["uid"] })</th>
                        <th scope="col">@Html.ActionLink("PUBLISHED DATE", "MemberDetails", new { sortby = ViewBag.SortDate, uid = Request.QueryString["uid"] })</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MemberNotes.Count() == 0)
                    {
                        <tr>
                            <td colspan="9" class="text-center">No record found</td>
                        </tr>
                    }
                    @{ int c = 0; }
                    @foreach (var item in Model.MemberNotes)
                    {
                        c += 1;
                        <tr>
                            <td scope="row">@c</td>
                            <td class="title-color">@item.Title</td>
                            <td>@item.Category</td>
                            <td>@item.Status</td>
                            <td class="title-color" align="center">@item.TotalDownloads</td>
                            <td>₹ @item.Earnings</td>
                            <td>@item.CreatedDate</td>
                            @if(item.Status != "Published")
                            {
                                <td>Not Published</td>
                            }
                            else
                            {
                                <td>@item.PublishedDate</td>
                            }
                            <td class="dropdown">
                                <i class="fa fa-ellipsis-v float-right"></i>
                                <div class="dropdown">
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("DownloadForAdmin","NotesUnderReview", new { nid = item.NID })">Download Notes</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

    <!-- Pagination -->

    <div class="row justify-content-center">

        <div class="pagination">
            @Html.PagedListPager(Model.MemberNotes, page => Url.Action("MemberDetails", new { page, uid = Request.QueryString["uid"], sortby = Request.QueryString["sortby"] }))
        </div>

    </div>

</div>

<!-- Notes Table End-->