<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/bootstrap/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/style.css">



</head>

<body>

    <!-- Navbar Start -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-border">

        <div class="container top-navbar-container">

            <a class="navbar-brand img-responsive" href="#">

                <!-- Logo Image -->
                <img class="img-fluid" src="~/Content/FrontContent/images/User-Profile/logo.png" alt="">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- col-auto Start -->

            <div class="col-auto">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SearchNotes","SearchNotes")">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Dashboard","Dashboard")">Sell Your Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("FAQ","FAQ")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ContactUs","ContactUs")">Contact Us</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link navbar-user-photo" href="#"></a>
                        </li>
                        -->
                        <li class="nav-item">
                            <button class="btn navbar-button" type="submit" onclick="location.href='@Url.Action("Login", "Login")'">Login</button>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- col-auto End -->


        </div>

    </nav>

    <!-- Navbar End -->

    @RenderBody()

    <!-- Footer Start -->

    <div class="container-fluid main-footer">

        <div class="container">

            <div class="row copyright-text">

                <p>Copyright &#169; TatvaSoft All rights reserved.</p>

            </div>

            <ul class="social-list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

        </div>

    </div>

    <!-- JQuery -->
    <script src="~/Scripts/FrontJs/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/FrontJs/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/FrontJs/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>