@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.Context.NoteTable>
@{

    ViewBag.Title = "Search Notes";
    Layout = "~/Views/Shared/NavbarAfter.cshtml";

}
<!-- User Profile Image -->
<div class="container-fluid banner">

    <div class="row justify-content-center">

        <div id="search-notes-text">

            <h2>Search Notes</h2>

        </div>

    </div>

</div>


<div class="container" id="main-container">

    <!-- Search & Filters notes -->

    <div class="row">

        <div class="col">

            <h2>Search and Filters notes</h2>

        </div>

    </div>

    @using (Html.BeginForm("SearchNotes", "SearchNotes", FormMethod.Get))
    {
        <div class="row" id="grey-bg">

            <div class="col-md-12 col-sm-12">
                <div class="active-blue-4 mb-4">
                    <input class="form-control input-in-grey-box" type="text" placeholder="Search notes here..." aria-label="Search" name="search">
                </div>
            </div>

            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("TypeID", ViewBag.Type as SelectList, "Select type", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();"})
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("CategoryID", ViewBag.Category as SelectList, "Select category", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();" })
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("InstituteName", ViewBag.Univercity as SelectList, "Select univercity", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();" })
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("CourseName", ViewBag.Course as SelectList, "Select course", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();" })
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("CountryID", ViewBag.Country as SelectList, "Select country", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();" })
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                @Html.DropDownList("Rating", new List<SelectListItem> {
                   new SelectListItem { Value = "1" , Text = "⭐ +" },
                   new SelectListItem { Value = "2" , Text = "⭐⭐ +" },
                   new SelectListItem { Value = "3" , Text = "⭐⭐⭐ +" },
                   new SelectListItem { Value = "4" , Text = "⭐⭐⭐⭐ +" },
                   new SelectListItem { Value = "5" , Text = "⭐⭐⭐⭐⭐ +" },
                }, "Select rating", new { @class = "form-control input-in-grey-box", @id = "exampleFormControlSelect1", onchange = "this.form.submit();" })
            </div>

        </div>
    }

    <!-- Search & Filters notes End -->

    <br>

    <!-- Total Notes -->

    <div class="row">

        <div class="col">
            <h2>Total @ViewBag.TotalBooks notes</h2>
        </div>

    </div>


    <div class="row justify-content-center">

        @if (Model.Count() == 0)
        {
            <h4>No record found</h4>
        }
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top note-image-box" src="../@item.DisplayPicture" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title"><a href="@Url.Action("NoteDetails","NoteDetails", new { nid = item.NID })">@item.Title</a></h5>
                            
                        </div>
                        <ul>
                            @if (item.InstituteName == null)
                            {
                                <li><i class="fa fa-university"></i>@item.CountryTable.CountryName</li>
                            }
                            else
                            {
                                <li><i class="fa fa-university"></i>@item.InstituteName, @item.CountryTable.CountryName</li>
                            }
                            @if (item.NumberOfPages == null)
                            {
                                <li><i class="fa fa-book"></i>No. Of Pages Not Available</li>
                            }
                            else
                            {
                                <li><i class="fa fa-book"></i>@item.NumberOfPages Pages</li>
                            }
                            <li><i class="fa fa-calendar"></i>@item.CreatedDate.Value.ToShortDateString()</li>
                            @if (item.TotalSpams == null || item.TotalSpams == 0)
                            {
                                <li><i class="fa fa-flag"></i><span>0 User marked this note as inappropriate</span></li>
                            }
                            else
                            {
                                <li><i class="fa fa-flag"></i><span class="red-text">@item.TotalSpams Users marked this note as inappropriate</span></li>
                            }
                        </ul>
                        <span class="score">
                            <span class="score-wrap" style="float: left">
                                @if (item.Rating == null)
                                {
                                    item.Rating = 0;
                                }
                                <span class="stars-active" style="width:@item.Rating%">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                                <span class="stars-inactive">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </span>
                            @if (item.TotalReviews == null)
                            {
                                item.TotalReviews = 0;
                            }
                            <span style="float: left; margin-left: 5px;">@item.TotalReviews Reviews</span>
                        </span>

                    </div>

                </div>

            </div>
        }

    </div>

    <!-- Pagination -->

    <div class="row justify-content-center">

        <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("SearchNotes", new { page , search = Request.QueryString["search"], TypeID = Request.QueryString["TypeID"], CategoryID = Request.QueryString["CategoryID"], InstituteName = Request.QueryString["InstituteName"], CourseName = Request.QueryString["CourseName"], CountryID = Request.QueryString["CountryID"], Rating = Request.QueryString["Rating"] }))
        </div>

    </div>


</div>